.App,
body,
html {
  font-family: sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
}
.product-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-evenly;
}
.product {
  width: 200px;
  background-color: rgb(1, 76, 76);
  border: solid 0.25px rgb(1, 76, 76);
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 5px 20px 1px;
  margin-bottom: 66px;
}
.product:hover {
  cursor: pointer;
}
.product img {
  width: 100%;
}
.product h1 {
  color: white;
}
.product h1:hover {
  text-decoration: underline;
  cursor: pointer;
}
.product p {
  text-align: left;
  margin: 20px;
  color: white;
}